.form.block > div > div > p {
  display: none; /* General (publish) */
}

html.adobe-ue-edit .form.block > div > div > p {
  display: block; /* Specific (editor) */
}

.generated-form {
  max-width: 400px; /* Optional fixed width */
  margin: 0 auto;
}

.form-field {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-field label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
