/* Hide authored text in published mode */
body.published .form.block > div > div > p {
  display: none;
}

.generated-form {
  max-width: 400px; /* Optional fixed width */
  margin: 0 auto;
}

.form-field {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-field label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
